@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Roboto-Regular.ttf");
}

html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #888888;
  background: #1e1e1e;
}

* {
  box-sizing: border-box;
}

a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

#wrapper {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#preamble {
  display: block;
  font-size: 2em;
  color: #ababab;
  font-style: italic;
}

@font-face {
  font-family: 'fpfont';
  src: url('/assets/fonts/fair_prosper.ttf');
}

#description {
  display: block;
  color: #ff4500;
  font-family: 'fpfont';
  font-size: 8em;
}

#wrapper > a {
  color: rgba(136,136,136, 0.4);
  transition: color 0.4s;
  font-size: 1em;
}

#wrapper > a:hover, #wrapper > a:focus {
  color: #ababab;
}

@media only screen and (max-width: 800px) {
  #preamble {
    display: block;
    font-size: 5vw;
    color: #ababab;
    font-style: italic;
  }

  #description {
    display: block;
    color: #ff4500;
    font-family: 'fpfont';
    font-size: 15vw;
  }

  #wrapper > a {
    color: rgba(136,136,136, 0.4);
    transition: color 0.4s;
    font-size: 3vw;
  }
}

#footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 5px;
  font-size: 10px;
}

#footer > span {
  margin: 0px 10px;
  display: inline-block;
}

#footer > span > a {
  color: #888888;
  transition: all 0.4s;
  padding: 0px 5px;
}

#footer > span > a:not(:first-child) {
  border-left: 1px solid #888888;
}

#footer > span > a:hover, #footer > span > a:focus {
  color: #ff4500;
  text-decoration: underline;
}
